#root {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: beige;
  color: #4D4D4D;
}

.App {
  width: 340px;
  height: 550px;
  border-radius: 20px;
  background-color: white;
}