$textPrimary: #4d4d4d;

#root {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: beige;
  color: $textPrimary;
}

.App {
  width: 340px;
  height: 600px;
  border-radius: 20px;
  background-color: white;
}

.history-btn {
  text-align: right;
  margin: 2rem 2rem 1rem 2rem;

  &__item {
    font-size: 2rem;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    outline: none;

    img {
      background-color: white;
      width: 30px;
    }
  }
}
